version: '3.8'

services:
  angular-app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: mi-app-angular-prod
    restart: always
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    networks:
      - angular-network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

networks:
  angular-network:
    driver: bridge