<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/inicio" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/productos" data-bs-toggle="collapse"
              class="nav-link px-0 align-middle">
              <i class="fs-4 bi-brush-fill"></i> <span class="ms-1 d-none d-sm-inline">Productos</span> </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/servicios" data-bs-toggle="collapse"
              class="nav-link px-0 align-middle">
              <i class="fs-4 bi bi-shop"></i> <span class="ms-1 d-none d-sm-inline">Servicios</span> </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/inventario" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-file-spreadsheet"></i> <span class="ms-1 d-none d-sm-inline">Entradas/Salidas</span></a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/ventas" data-bs-toggle="collapse"
              class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-cart-fill"></i> <span class="ms-1 d-none d-sm-inline">Ventas</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> 1</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/maquinas" data-bs-toggle="collapse"
              class="nav-link px-0 align-middle">
              <i class="fs-4 bi-printer-fill"></i> <span class="ms-1 d-none d-sm-inline">Materiales</span> </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/ordenes" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Ordenes</span> </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet />
    </div>
  </div>
</div>