.hover-effect {
    transition: all 0.3s ease;
}

.hover-effect:hover {
    transform: translateY(-5px);
    background-color: #f8f9fa !important;
    /* Slightly darker light */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.icon-circle {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}